// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #0092df;
$secondary: #C1C1C0;
$info: #CEE3F6;
$light: #f3f5f8;
$dark: #1c244b;
$danger: #ff4136;
