* {
    font-family: "Poppins", sans-serif;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

.logo {
    width: 200px;
    z-index: 100;
    position: sticky;
}

.navbar {
    box-shadow: -4px -10px 24px 11px rgba(0, 0, 0, 0.20);
    min-height: 98px;
}

h1 {
    color: var(--title-color);
    font-weight: 600;
    line-height: 1.2em;
}

.quick-action-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 300px;
}

.quick-action {
    height: 50px;
    aspect-ratio: unset;
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 2;
}

.quick-action p {
    margin: 3px;
}

.quick-action span {
    font-size: 40px;
    filter: drop-shadow(1px 1px 40px black);;
}

.quick-action img {
    width: 40px;
    filter: invert() drop-shadow(1px 1px 40px white);
}

.profle-picture {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.rolls {
    max-width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 20px;
    padding-right: 50px;

    mask:
        linear-gradient(to top,  transparent 10%, #fff 15% 90%, transparent 95%),
        linear-gradient(to left, transparent 10%, #fff 15% 90%, transparent 95%);
    mask-size: 110% 110%;
    mask-position: center;
    mask-repeat:no-repeat;
    mask-composite: intersect;
    transform: translateX(-20px);
}

.rolls::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 992px) {
    .quick-action {
        height: 150px !important;
    }
    .quick-action span {
        font-size: 75px !important;
    }
    .quick-action img {
        width: 75px !important;
    }
    h1 {
        font-size: 54px;
    }
    .rolls {
        max-width: 500px !important;
    }
}

@media screen and (min-width: 768px) {
    .quick-action {
        height: 18vh;
        aspect-ratio: 1/1;
        flex-direction: column;
    }

    .quick-action span {
        font-size: 50px;
    }

    .quick-action img {
        width: 50px;
    }
    .rolls {
        max-width: 300px;
        transform: translateX(0px);
    }
}

:root {
    --primary-color: #0092df;
    --secondary-color: #C1C1C0;
    --accent-color: #CEE3F6;
    --title-color: #1c244b;
    --text-color: #000000;
    --alternarive-white: #f3f5f8;
}
